/*************************************
Variables used across the website
*************************************/
/*************************************
Colors
*************************************/
/*************************************
Fonts
*************************************/
/*************************************
This is a partial which contains all SASS files developed for the project.
*************************************/
/*************************************
Variables used across the website
*************************************/
/*************************************
Colors
*************************************/
/*************************************
Fonts
*************************************/
/*************************************
Font faces
*************************************/
@font-face {
  font-family: 'Bitter';
  src: url("styles/fonts/app/Bitter/Bitter-Bold.woff2") format("woff2"), url("../fonts/app/Bitter/Bitter-Bold.woff") format("woff"), url("../fonts/app/Bitter/Bitter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("styles/fonts/app/SourceSansPro/SourceSansPro-Regular.woff2") format("woff2"), url("styles/fonts/app/SourceSansPro/SourceSansPro-Regular.woff") format("woff"), url("styles/fonts/app/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("styles/fonts/app/SourceSansPro/SourceSansPro-Bold.woff2") format("woff2"), url("styles/fonts/app/SourceSansPro/SourceSansPro-Bold.woff") format("woff"), url("styles/fonts/app/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.fonts-loaded a span,
.fonts-loaded body,
.fonts-loaded p {
  font-family: 'SourceSansPro', sans-serif;
  font-weight: 400;
}

.fonts-loaded h1,
.fonts-loaded h2 {
  font-family: 'Bitter', serif;
  font-weight: 700;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: "Helvetica", sans-serif;
  color: #fff;
}

h1 {
  font-weight: 700;
  font-family: "Arial", serif;
  font-size: 5.4rem;
  line-height: 5.4rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

h2 {
  font-weight: 700;
  font-family: "Arial", serif;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

p:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 8px;
  }
}

.text-center {
  text-align: center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.full-width {
  width: 100%;
}

.extend {
  width: calc(100vw - 10px);
  margin-left: calc(-50vw + 50%);
}

.spacer-top-xs {
  margin-top: 0.4rem;
}

.spacer-top-s {
  margin-top: 0.8rem;
}

.spacer-top-m {
  margin-top: 1.6rem;
}

.spacer-top-l {
  margin-top: 3.2rem;
}

.spacer-top-xl {
  margin-top: 6.4rem;
}

.spacer-bottom-xs {
  margin-bottom: 0.4rem;
}

.spacer-bottom-s {
  margin-bottom: 0.8rem;
}

.spacer-bottom-m {
  margin-bottom: 1.6rem;
}

.spacer-bottom-l {
  margin-bottom: 3.2rem;
}

.spacer-bottom-xl {
  margin-bottom: 6.4rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.button {
  width: auto;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  color: #eee;
  padding: 10px 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.button.primary {
  background-color: #dc965a;
}

.link {
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  text-transform: lowercase;
  letter-spacing: 0.2rem;
  position: relative;
  padding: 0 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 0;
  opacity: 0;
  content: "";
  display: block;
  background: #dc965a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link:hover {
  text-decoration: none;
}

.link:hover::before {
  content: "";
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.link.primary:hover {
  color: #dc965a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*************************************
Header styling
*************************************/
header .global-nav {
  list-style-type: none;
  padding: 0;
}

header .global-nav li {
  display: inline-block;
}

header .global-nav li::after {
  content: "\\";
  font-weight: 700;
  font-size: 16px;
  margin-left: 1rem;
  margin-right: 1rem;
}

header .global-nav li:last-child::after {
  content: "";
  margin: 0;
}

/*************************************
Main layout styling
*************************************/
body {
  padding: 4rem 2rem;
  background-color: #222930;
}

.page-wrapper {
  margin: 0 auto;
  max-width: 70rem;
}

.panel {
  padding: 2rem;
}

.panel.panel-light {
  background-color: #222930;
  border-top: 0.8rem solid #4eb1ba;
  color: #dc965a;
}

@media (max-width: 767px) {
  body {
    padding: 2rem 1rem;
  }
}

@media (max-width: 575px) {
  .panel {
    padding: 0;
  }
}

/*************************************
Footer styling
*************************************/
.decorated-title {
  text-align: center;
  overflow: hidden;
  display: block;
}

.decorated-title::after, .decorated-title::before {
  content: '';
  background: #fff;
  width: 50%;
  display: inline-block;
  height: 2px;
  margin-top: -1px;
  vertical-align: middle;
  position: relative;
}

.decorated-title::before {
  margin-left: -50%;
  left: -2rem;
}

.decorated-title::after {
  margin-right: -50%;
  right: -2rem;
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 2rem - 4px);
          flex: 1 1 calc(50% - 2rem - 4px);
  background: #222930;
  color: #fff;
  margin: 1rem;
  text-align: center;
  position: relative;
}

.project-item:hover .project-overlay {
  height: 100%;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.project-item:hover .project-overlay .eye-icon {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  -webkit-transition: all 0.6s 0.2s ease;
  transition: all 0.6s 0.2s ease;
}

.project-item .project-title {
  margin: 0;
  padding: 1rem 0;
  background: #dc965a;
  font-weight: bold;
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3), 0 3px 3px rgba(0, 0, 0, 0.15), 0 3px 2px -2px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-img-wrapper {
  position: relative;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(0, 0, 0, 0.8);
}

.eye-icon {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(-50px) rotate(-90deg);
          transform: translateY(-50px) rotate(-90deg);
  opacity: 0;
  visibility: hidden;
}

.eye-icon {
  color: #dc965a;
  width: 20px;
  height: 20px;
  border: 4px solid currentColor;
  border-radius: 100%;
}

.eye-icon:before {
  content: '';
  position: absolute;
  top: 20px;
  left: 8px;
  height: 16px;
  width: 5px;
  background-color: currentColor;
}

.media-object {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.media-left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.media-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  margin-left: 16px;
  text-align: justify;
}

@media (max-width: 575px) {
  .media-object {
    display: block;
  }
  .media-left {
    float: left;
    margin: 0 1.5rem 0 0;
  }
  .media-left img {
    max-width: 100px;
  }
  .media-right {
    margin: 0;
  }
}

/*# sourceMappingURL=global.css.map */
