/*************************************
Font faces
*************************************/

html {
  font-size:10px;
}

body{
  font-size:1.6rem;
  line-height:2.4rem;
  font-family: $sans-serif;
  color: $primary-color;
}

h1{
  font-weight: 700;
  font-family: $serif;
  font-size: 5.4rem;
  line-height:5.4rem;
  margin-top:0;
  margin-bottom:2rem;
}

h2{
  font-weight: 700;
  font-family: $serif;
  font-size: 2rem;
  line-height: 2.6rem;
  margin-top:0;
  margin-bottom:2rem;
}

p{
  margin-top: 0;
  margin-bottom: 1.5rem;

  &:last-child{
    margin-bottom:0;
  }
}


@media (max-width: 767px){
  html{
    font-size:9px;
  }
}

@media (max-width: 575px){
  html{
    font-size:8px;
  }
}
