/*************************************
Variables used across the website
*************************************/

/*************************************
Colors
*************************************/
$white: #fff;
$black: rgba(0,0,0,0.75);
$diSerria: #dc965a;
$flushOrange: #ff7700;
$fountainBlue: #4eb1ba;
$cararra: #eaeaea;
$shark: #222930;

$newcolor: #009688;


$primary-color: $white;

$accent-color: $diSerria;

$border-color: $fountainBlue;

$panel-light-color: $diSerria;
$panel-light-border-color: $fountainBlue;
$panel-light-background-color: $shark;

$background-color: $shark;

/*************************************
Fonts
*************************************/
$serif: 'Arial', serif;
$sans-serif: 'Helvetica', sans-serif;
