/*************************************
Variables used across the website
*************************************/

/*************************************
Colors
*************************************/
$white: #fff;
$black: #000;

$primary-color: rgba(0,0,0,0.7);

$accent-color: #ff7700;
$accent-color-hover: #ffab45;

$border-color: #90c2e7;
$panel-color: #f3f9cc;
$background-color: #f9f9f9;

/*************************************
Fonts
*************************************/
$serif: 'Georgia', serif;
$sans-serif: 'Helvetica', sans-serif;
