/*************************************
Main layout styling
*************************************/

body{
  padding:4rem 2rem;
  background-color: $background-color;
}

.page-wrapper{
  margin:0 auto;
  max-width:70rem;
}

.panel{
  padding:2rem;

  &.panel-light{
    background-color:$panel-light-background-color;
    border-top: 0.8rem solid $panel-light-border-color;
    color: $panel-light-color;
  }
}

@media (max-width: 767px){
  body{
    padding:2rem 1rem;
  }
}
