
/*************************************
Header styling
*************************************/

header {
    position: relative;
}

.main-nav {
    &__list {
        list-style-type: none;
        padding: 0;
    }
    &__item {
        display: inline-block;
        &::after {
            content: "\\";
            font-weight: 700;
            font-size: 16px;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        &:last-child {
            &::after {
                content: "";
                margin: 0;
            }
        }
    }
    &__trigger {
        position: fixed;
        top: 12px;
        left: 5px;
        height: 37px;
        padding: 5px;
        z-index: 1000;
        box-shadow: none;
        border: none;
        appearance: none;
        outline: none;
        background: none;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        span {
            display: block;
            position: relative;
            width: 33px;
            height: 4px;
            background: $white;
            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                background: $white;
                left: 0;
            }
            &::before {
                top: -10px;
                transition: background 0.2s ease, transform 0.2s ease, top 0.3s ease 0.2s;
            }
            &::after {
                transition: background 0.2s ease, transform 0.2s ease, bottom 0.3s ease 0.2s;
                bottom: -10px;
            }
        }
        .open & {
            span {
                background: none;
                &::before {
                    top: 0;
                    transform: rotate(45deg);
                    background: $black;
                    transition: background 0.2s ease, top 0.2s ease, transform 0.3s ease 0.2s;
                }
                &::after {
                    bottom: 0;
                    transform: rotate(-45deg);
                    background: $black;
                    transition: background 0.2s ease, bottom 0.2s ease, transform 0.3s ease 0.2s;
                }
            }
        }
    }
}

@media all and (max-width: $mobile) {
    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1.0);
        height: 100vh;
        width: 100%;
        background: $white;
        z-index: 999;
        .open & {
            transform: translateX(0);
        }
        &__list {
            margin-top: 8rem;
        }
        &__item {
            display: block;
            padding: 1.5rem 0;
            &::after {
                display: none;
            }
        }
        .link {
            color: $black;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 2rem;
            &::before {
                height: 2px;
            }
        }
    }
    .mobile-nav-bar {
        height: 60px;
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
        .phone {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 5px;
            transition: all 0.3s ease;
            font-style: italic;
            &:hover{
                &::before{
                    display: none;
                }
            }
        }
    }
}